.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background-color: #FAFDFF;
}
  
.contents {
	display: flex;
	width: 96%;
	max-width: 1100px;
	height: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	ul {
		display: flex;
		list-style: none;
		
		li + li {
			margin-left: 30px;
		}
	}
}