.PostViewContainer {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 160px;
	h1 {
		font-size: 32px;
		margin-bottom: 20px;
	}
}

.postInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-right: 5px;
	padding-bottom: 25px;
}
.infoLeft {
	display: flex;
	align-items: center;
}
.date {
	color: var(--grey);
}
.verticalLine {
	margin: 0 10px 0 10px;
	width: 1px;
	height: 14px;
	background: var(--grey);
}
.infoRight {
	display: flex;
	align-items: center;
	button {
		font-weight: 400;
		border: none;
		background: transparent;
		cursor: pointer;
	}
}
