.filledBtn,
.lineBtn {
	cursor: pointer;
	padding: 6px 0px 6px 0px;
	box-shadow: var(--button-shadow);
}
.filledBtn {
	color: white;
	font-weight: 600;
	border: none;
	background: var(--light-blue);
}
.lineBtn {
	color: var(--light-blue);
	font-weight: 600;
	background: white;
	border: solid 1px var(--light-blue);
}
