.inputStyle {
	width: 400px;
	height: 35px;
}

.inputStyle:focus {
	outline: none;
}

.hrSect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 17px;
	margin: 8px 0px;
}

.hrSect::before {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 20px 20px 20px 0px;
}

.hrSect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 20px 0px 20px 20px;
}
