.stylee {
	text-align: left;
	width: 1100px;
	margin: 20px 0px 15px 0px;
}

.button {
	color: black;
	padding: 0px 15px 10px 15px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ecf0f1;
	background-color: white;
}

.clickButton {
	color: #1ad7e6;
	padding: 0px 15px 10px 15px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #1ad7e6;
	background-color: white;
}

.lineButton {
	color: white;
	width: 770px;
	padding: 0px 15px 10px 15px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ecf0f1;
	background-color: white;
}
