// 헤더 상자 스타일
.headerContainer {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 60px;
}
.header {
	z-index: 1000; // 헤더는 항상 위에 있도록 z축을 1000으로 설정
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2); // 상자 그림자
	background-color: var(--white);
}

// 헤더 상자 안의 내용
.contents {
	height: 60px;
	display: flex;
	width: 90%;
	max-width: 1450px;
	margin: 0 auto;
	font-size: 17px;
	color: var(--navy);
	align-items: center;
	justify-content: space-between;

	a {
		color: var(--navy);
	}
	a:hover {
		color: var(--mint);
	}
}

// 로고 스타일
.logo {
	display: flex; // 로고와 텍스트가 일직선이 되게 표시
	align-items: center;
	font-size: 26px;
	font-weight: 900;
	
	color: var(--navy);

	// 로고 호버 효과 제거
	:hover {
		pointer-events: none !important;
	}
}

// 네비게이션 텍스트(각 게시판 링크) 스타일
.navigation {
	ul {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none; // ul의 불릿 안뜨게 하는 옵션

		justify-content: center;
		li {
			font-weight: 700;
		}
		// 각 텍스트끼리의 거리
		a {
			margin: 0 10px 0 10px;
		}
	}
}
.loginUI {
	display: flex;
	align-items: center;
	li {
		font-size: 14px;
		font-weight: 400;
		margin-left: 10px;
	}

	img {
		vertical-align: middle;
	}
	a:hover {
		color: rgba(44, 62, 80, 0.5); // 색상은 --navy 그대로 투명도만 변화
	}
}
