:global(.profileEditCenter) {
	position: relative;
	padding-top: 100px;
	height: 100%;
	clear: both;
	padding-bottom: 140px;
}

.profileEditPage {
	clear: both;
}

.tablestyle {
	border-collapse: collapse;
}

.checkText {
	color: gray;
	font-size: 13px;
}
