.inputstyle {
	width: 400px;
	height: 35px;
	border-radius: 0;
	border: 1px solid var(--grey);
}

.inputstyle:focus {
	outline: none;
}

.register {
	position: absolute;
	top: 10%;
	left: 20%;
	text-align: center;
}
