.searchBarContainer {
	button {
		border: none;
		background: transparent;
		img {
			width: 25px;
			vertical-align: middle;
		}
		cursor: pointer;
	}
	button:hover {
		opacity: 0.7;
	}
}
.text {
	width: 200px;
	height: 35px;
	font-size: 15px;
	padding-left: 15px;
	border-radius: 5px;
	border: solid 1px var(--grey);
}
