$white: #ffffff;
$black: #000000;
$navy: #2c3e50;
$mint: #1ad7e6;
$silver: #ecf0f1;
$grey: #bdc3c7;
$light-red: #ee7d7d;
$green: #55bb90;
$light-blue: #3498db;
$blue: #2980b9;
$yellow: #fee500; //kakao
$white-blue: #fafdff;
